<ion-view view-title="About Us">
  <ion-content>
  	<div class="about-us">
      <div class="about-us-top-img">
        <img src="img/about_us_top.png"/>
      </div>
      <div class="about-us-text">
          <p class="part_end">하루가 멀다 하고 발생하는 크고 작은 사건 사고들</p>
          <p>무언가는 바뀌어야 한다고,</p>
          <p>안전한 대한민국을 만들어야겠다고</p>
          <p>생각한 사람들이 모여</p>
          <p class="part_end">WeChangeMakers가 되었습니다</p>
          <p>세월호 사건으로부터 600일</p>
          <p>저희는 위험 정보를 공유하여 해결할 수 있는</p>
          <p class="part_end">WeChangeMakers 앱을 런칭하였습니다</p>
          <p>저희의 활동이 더욱 궁금하시거나</p>
          <p>앱에 대한 발전적인 의견이 있으신 분, </p>
          <p>나아가 WeChangeMakers와 함께하고 싶으신 분은</p>
          <p class="part_end">아래 링크를 방문해주세요</p>
      </div>
      <div class="about-us-link">
        <p class="home-link">
          <a onclick="window.open(encodeURI('http://wechangemakers.org/'), '_system')">
          <i class="icon ion-android-home"></i>http://wechangemakers.org/
          </a>
        </p>
        <p class="fb-link">
          <a onclick="window.open(encodeURI('http://www.facebook.com/wechangemakers/'), '_system')">
          <i class="icon ion-social-facebook"></i>https://www.facebook.com/wechangemakers/
          </a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>