<ion-view view-title="설정">
  <ion-content>
  	<div class="list">

		  <div class="item item-divider">
		    프로필
		  </div>
		  <a class="item" href="#">이름 편집<i class="ion-chevron-right"></i></a>

		  <div class="item item-divider">
		    약관 및 정책
		  </div>
		  <a class="item" ng-click="terms()">이용약관<i class="ion-chevron-right"></i></a>
		  <a class="item" ng-click="termsGps()">이용약관 (위치서비스)<i class="ion-chevron-right"></i></a>
		  <a class="item" ng-click="privacy()">개인정보 취급방침<i class="ion-chevron-right"></i></a>

		  <div class="item item-divider">
		    
		  </div>
		  <a class="item" ng-click="logOut()">로그아웃</a>

		</div>
  </ion-content>
</ion-view>