<ion-view view-title="Edit">
  <ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="editCard()">
      <i class="icon ion-checkmark"></i>
    </button>
  </ion-nav-buttons>
  <form name="itemEdit" novalidate>
  <ion-content>

    <div class="form-group" id="wrtie_page">
        <div class="col">
          <label class="item item-input large">
            <input id="card_title" type="text" ng-model="postTitle" name="title">
          </label>
        </div>
        <div class="col">
          <label class="item item-input text">
            <textarea id="card_des" ng-model="postDescription" rows="5" ng-Required="true" name="description" lose-focus-on-return></textarea>
          </label>
        </div>

        <div class="col">
          <ion-item id="card_location" ng-click="showMap()" lat="{{ lat }}" long="{{ lng }}">
            <i class="fa fa-map-marker"></i> location
          </ion-item>
        </div>

        <div class="col col-10 vert-center">
          <div class="charity large"></div>
        </div>

      <img id="card_img" ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
      <img ng-show="imgURI === undefined" ng-model="postImage" ng-src="{{ postImage }}" style="width: 150px; height: 150px;">

    </div>
  </ion-content>
  </form>
</ion-view>