<ion-view view-title="이름 편집">
	<ion-nav-buttons side="right">
    <button type="submit" class="button button-icon" ng-click="editDone()">
        <!-- <i class="icon ion-checkmark"></i> -->
        완료
    </button>
  </ion-nav-buttons>
  <ion-content>

  	<div class="edit-name">
  		<p>이름을 입력해 주세요.</p>
  		<div class="form-group" id="wrtie_page">
	      <label class="item item-input">
	      	<input id="edit-name" type="text" ng-model="user.username" required="required"/>
	      </label>
	    </div>
  	</div>

  </ion-content>
</ion-view>