<ion-view view-title="We Change Makers">
  <ion-nav-buttons side="right">
    <button type="submit" class="button button-icon" ng-click="openPopover($event)">
      <i class="icon ion-android-list"></i>
    </button>
    <button type="submit" class="button button-icon" ng-click="findWarning()">
      <i class="icon ion-location"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>

  <ion-refresher on-refresh="doRefresh('init')">
  </ion-refresher>
    <ion-list>

      <!-- ========================== home_page ========================== -->
      <div id="home_page">

        <ion-item collection-repeat="card in allData.cards" class="posts">
          <div class="post-body">
            
            <div class="profile">
              <img ng-src="{{ card.user[0].userimage }}">
              <p class="username">{{card.user[0].username}}</p>
              <p class="date">{{ card.create_time }}</p>
              <button class="button button-icon float-edit" ng-style="userChecked(card)" ng-click="deleteCard(card.id)">
                  <i class="icon ion-ios-trash-outline"></i>
              </button>
              <button class="button button-icon float-edit" ng-style="userChecked(card)" ng-click="editCard(card.id)">  
                  <i class="icon ion-ios-compose-outline"></i>
              </button>
            </div>

            <div class="content">
              <a href="#" ng-click="showMap(card.location_lat, card.location_long)">
                <p class="fa fa-map-marker"> {{card.location_name}}</p>
              </a>
              <a ng-href="#/tab/home/{{ card.id }}">
                <div class="center-cropped post-image" style="background-image: url('{{card.img_path}}');">
                </div>
              </a>
              <h2><strong>{{card.title}}</strong></h2>
            </div>

            <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped progress-{{card.status}}" role="progressbar" aria-valuenow="{{card.status}}" aria-valuemin="0" aria-valuemax="100" style="width: {{card.status}}%">
              </div>
            </div>
            <p class="progressText progress-{{card.status}}">{{ card.statusDescription }}</p>

            <div class="additional-function">
              <span>Watch {{ card.like_count }}</span>
              <span>댓글 {{ card.comments_count }}</span>
              <span>공유 0</span>
            </div>

            <div class="sns-link">
              <a href="#" ng-click="toggleLike(card.watch = !card.watch, card.id)" ng-class="{'active' : card.watch, 'non-active' : !card.watch}" id="like">
                <i class="fa fa-thumbs-up"></i> Watch
              </a>
              <a ng-href="#/tab/home/{{ card.id }}#comment"><i class="fa fa-commenting">
                </i> 댓글달기
              </a>
              <a href="#" id="sns-share"><i class="fa fa-share"></i> 공유하기</a>
            </div>

          </div>

        </ion-item>

        <ion-infinite-scroll on-infinite="doRefresh()" distance="10%">
        </ion-infinite-scroll>

      </div>
      <!-- ========================== home_page end ========================== -->
    </ion-list>
  </ion-content>
  <script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <ion-radio ng-repeat="item in sortingTypeList"
            ng-value="item.value"
            ng-model="data.sortingType"
            ng-change="sortingTypeChange(item)">
          {{ item.text }}
        </ion-radio>
      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>

<ion-pane id="welcomeOverlay" ng-controller="WelcomeController" class="dark-overlay">
  <ion-content class="content-flush has-header" scroll="false">
    <div class="overlay-spacer"></div>
    <ion-checkbox ng-model="notShowChecked.checked" ng-change="notShowChanged()"class="checkbox_custrom">다시 보지않기</ion-checkbox>
    <ion-slide-box class="overlay-box">
      <ion-slide>
        <div class="box blue">
          <div class="info_box">
            <h1>Welcome to</h1>
            <h1>We Change Makers!</h1>
            <h4>대한민국의 안전 사각지대를 공유하고 함께 해결해나가는 We Change Makers에 오신 것을 환영합니다</h4>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box red">
          <img class="info_01" ng-src="../img/info_01.png">
          <div class="info_box">
            <h1>내 주변 위험정보를 한 눈에!</h1>
            <h4>We Change Makers에서는 당신 주변의 위험한 지역을 실시간으로 확인할 수 있습니다.</h4>
          </div>
          <img class="info_02" ng-src="../img/info_02.png">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box red">
          <div class="info_box">
            <h1>위험한 곳을 직접 제보하세요!</h1>
            <h4>씽크홀, 균열 등 위험요소를 발견했다면 지금 바로 공유하고 해결을 요청하세요! 사진을 찍고 위치를 태그 하는 것으로 간단히 위험정보를 공유할 수 있습니다</h4>
          </div>
          <img class="info_03" ng-src="../img/info_03.png">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box red">
          <div class="info_box">
            <h1>이건 내가 해결할게요!</h1>
            <h4>앱에 접수된 위험정보 중 당신이 해결하거나 도움을 줄 수 있는 부분이 있다면 덧글을 통해 직접 참여하세요!</h4>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box red">
          <div class="info_box">
            <h1>안전한 대한민국 함께 만들어가요!</h1>
            <h4>이제 대한민국을 안전하게 바꾸어나갈 준비 끝! 안전을 지켜주고 싶은 가족과 친구들에게 공유하는 것도 잊지 마세요</h4>
          </div>
          <div>
          <button class="button button-block button-positive" ng-click="facebookLogin()"><i class="icon ion-social-facebook"></i> Login using Facebook</button></a>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-pane>
