<ion-view view-title="wcm">
  <ion-nav-buttons side="right">
    <button type="submit" class="button button-icon" ng-click="openPopover($event)">
      <i class="icon ion-android-list"></i>
    </button>
    <button type="submit" class="button button-icon" ng-click="findWarning()">
      <i class="icon ion-location"></i>
    </button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true">

  <ion-refresher on-refresh="doRefresh('init')">
  </ion-refresher>
    <ion-list>

      <!-- ========================== home_page ========================== -->
      <div id="home_page">

        <ion-item ng-repeat="card in allData.cards" class="posts">
          <div class="post-body">
            
            <div class="profile">
              <img ng-src="{{ card.user[0].userimage }}">
              <p class="username">{{card.user[0].username}}</p>
              <p class="date">{{ card.create_time }}</p>
    
              <i class="ion-trash-a delete" ng-style="userChecked(card)" ng-click="deleteCard(card.id)"></i>
              <i class="ion-compose edit" ng-style="userChecked(card)" ng-click="editCard(card.id)"></i>
            </div>
            <hr>

            <div class="content">
              <h2 class="title"><strong>{{card.title}}</strong></h2>

              <a ng-click="showMap(card.location_lat, card.location_long)">
                <p class="address"><i class="fa fa-map-marker"></i> {{card.location_name}}</p>
              </a>
              <a ng-href="#/tab/home/{{ card.id }}">
                <div class="img-group">
                  <img ng-src="{{card.img_path}}" class="post-image">
                </div>
              </a>
            </div>

            <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped progress-{{card.status}}" role="progressbar" aria-valuenow="{{card.status}}" aria-valuemin="0" aria-valuemax="100" style="width: {{card.status}}%">
              </div>
            </div>
            <p class="progressText"><i class="icon {{card.statusIcon}}"></i> {{ card.statusDescription }}</p>

            <hr>
            
            <div class="sns-link">
              <a ng-click="toggleLike(card.watch = !card.watch, card.id)" ng-class="{'active' : card.watch, 'non-active' : !card.watch}" id="like">
                <i class="ion-ios-eye"></i>  위험해요 {{ card.like_count }}
              </a>
              <a ng-href="#/tab/home/{{ card.id }}#comment"><i class="ion-chatbubble-working"></i> 댓글달기  {{ card.comments_count }}
              </a>
              <!-- <a href="https://www.facebook.com/dialog/share?app_id=1020667507964480&display=popup&href=www.google.com&redirect_uri=http://localhost:8100" target="_blank"><i class="ion-forward"></i> 공유하기</a> -->
              <a ng-click="showDialog(card)"><i class="ion-forward"></i> 공유하기 {{ card.share_count }}</a>

            </div>

          </div>

        </ion-item>

        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="doRefresh()" distance="10%">
        </ion-infinite-scroll>

      </div>
      <!-- ========================== home_page end ========================== -->
    </ion-list>
  </ion-content>
  <script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view class="home_popover">
      <ion-content>
        <ion-radio ng-repeat="item in sortingTypeList"
            ng-value="item.value"
            ng-model="data.sortingType"
            ng-change="sortingTypeChange(item)">
          {{ item.text }}
        </ion-radio>
      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>

<ion-pane id="welcomeOverlay" ng-controller="WelcomeController" class="dark-overlay">
  <ion-content class="content-flush has-header" scroll="false">
    <div class="overlay-spacer"></div>
    <!-- <ion-checkbox ng-model="notShowChecked.checked" class="checkbox_custrom">다시 보지않기</ion-checkbox> -->
    <a ng-click="overlayClose()" class="overlay-close"><i class="icon ion-close" style="font-size: 30px;"></i></a>

    <ion-slide-box class="overlay-box">

      <ion-slide class="slide-1-back">
        <figure class="slide-1">
          <a class="welcome-slide slide-next" ng-click="sliderNext()" ></a>
        </figure>
      </ion-slide>

      <ion-slide class="slide-2-back">
        <figure class="slide-2">
          <a class="welcome-slide slide-prev" ng-click="sliderPrev()" ></a>
          <a class="welcome-slide slide-next" ng-click="sliderNext()" ></a>
        </figure>
      </ion-slide>

      <ion-slide class="slide-3-back">
        <figure class="slide-3">
          <a class="welcome-slide slide-prev" ng-click="sliderPrev()" ></a>
          <a class="welcome-slide slide-next" ng-click="sliderNext()" ></a>
        </figure>
      </ion-slide>

      <ion-slide class="slide-4-back">
        <figure class="slide-4">
          <a class="welcome-slide slide-prev" ng-click="sliderPrev()" ></a>
          <a class="welcome-slide slide-next" ng-click="sliderNext()" ></a>
        </figure>
      </ion-slide>

      <ion-slide class="slide-5-back">
        <figure class="slide-5">
          <a class="welcome-slide slide-prev" ng-click="sliderPrev()" ></a>
        </figure>
        <figure class="fb" ng-click="facebookLogin()">
        </figure> 
          <!-- <button class="button button-block btn-default" ng-click="skipLogin()"><i class="fa fa-check"></i> Skip Login</button>  -->
      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-pane>
