<ion-view view-title="WeMakeChanges">
  <ion-nav-buttons side="right">
    <button type="submit" class="button button-icon" ng-click="findWarning()">
      <i class="icon ion-location"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>

  <ion-refresher on-refresh="doRefresh('init')">
  </ion-refresher>
    <ion-list>

      <!-- ========================== home_page ========================== -->
      <div id="home_page">

        <ion-item collection-repeat="card in cards" class="posts">

          <div class="post-body">
            
            <div class="profile">
              <img ng-src="{{ card.user[0].userimage }}">
              <p class="username">{{card.user[0].username}}</p>
              <p class="date">{{ card.create_time }}</p>
              <button class="button button-icon float-edit" ng-style="userChecked(card)" ng-click="deleteCard(card.id)">
                  <i class="icon ion-ios-trash-outline"></i>
              </button>
              <button class="button button-icon float-edit" ng-style="userChecked(card)" ng-click="editCard(card.id)">
                  <i class="icon ion-ios-compose-outline"></i>
              </button>
              <!-- <a ng-click="deleteCard(card.id)" ng-style="userChecked(card)" class="edit"><small>&nbsp;delete</small></a>
              <a href="#/tab/home/{{ card.id }}/edit" ng-style="userChecked(card)" class="edit"><small>edit</small></a> -->
            </div>

            <div class="content">
              <h2><strong>{{card.title}}</strong></h2>
              <a href="#/tab/home/{{ card.id }}">
                <div class="center-cropped" style="background-image: url('{{card.img_path}}');">
                </div>
              </a>
            </div>

            <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped progress-{{card.status}}" role="progressbar" aria-valuenow="{{card.status}}" aria-valuemin="0" aria-valuemax="100" style="width: {{card.status}}%">
              </div>
            </div>
            <p class="progressText">{{ card.statusDescription }}</p>

            <div class="sns-link">
              <a href="#">
                <i class="fa fa-thumbs-up"></i> 좋아요 {{ card.like_count }}개
              </a>
              <a href="#/tab/home/{{ card.id }}"><i class="fa fa-commenting"></i> 댓글 {{ card.comments_count }}개 </a>
              <a href="#" id="sns-share"><i class="fa fa-share"></i> 공유하기</a>
            </div>

          </div>

        </ion-item>

        <ion-infinite-scroll on-infinite="doRefresh()" distance="10%">
        </ion-infinite-scroll>

      </div>
      <!-- ========================== home_page end ========================== -->


    </ion-list>
  </ion-content>
</ion-view>
