<ion-view view-title="WeChangeMakers">
  <ion-content>

	  <div id="login_page" class="jumbotron">
	  	<h2>Login Page</h2>
		  <form ng-submit="register()">
			  <label>username: </label><input type="text" ng-model="data.username">
			  <label>password: </label><input type="password" ng-model="data.password">
			  <button type="submit" class="btn btn-default">Login</button>
			</form>
  		<button class="btn btn-info" ng-click="skipLogin()">Skip Login</button>
		</div>
		
  </ion-content>
</ion-view>
