<ion-view view-title="{{card.title}}">
  <ion-content>

    <img ng-src="{{ ::card.img_path }}" class="posting-image" onError="this.src='img/default.png'">
    <div id="detail_page">

      <span class="timeago" ng-bind="createTime"></span>
      <div class="additional-function">
        <i class="ion-ios-eye"></i> {{ watch_count }}
        <i class="ion-chatbubble-working"></i> {{ comments_count }}
        <i class="ion-forward"></i> {{ share_count }}
      </div>
      <hr>

      <a ng-click="showMap()" >
        <p id="post_location_name"><i class="fa fa-map-marker"></i> {{ ::card.location_name }}</p>
      </a>

      <p class="description">{{ ::card.description }}</p>
      <div class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped progress-{{ ::card.status }}" role="progressbar" aria-valuenow="{{ card.status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ card.status }}%">
        </div>
      </div>
      <p class="progressText"><i class="project-icon {{statusIcon}}"></i> {{ ::card.statusDescription }}</p>

      <div ng-class="{'change-member' : !changerImage, 'change-member active' : changerImage}">
        <div ng-repeat="changer in changers" ng-class="{'member-list ng-hide' : !changerImage, 'member-list ng-show' : changerImage}">
          <img ng-src="{{::changer.changeUser[0].userimage}}" ng-click="openProfile(changer.changeUser[0])" ng-show="{{ ::changerImage }}" class="status-{{ ::card.status }}">
        </div>

        <div class="change-description">
          <button class="change-button btn btn-default status-{{ ::card.status }}" ng-click="weChange()"><i class="icon ion-wrench"></i> 우리가 바꿔요</button>
        </div>
      </div>
      <hr>

      <div class="sns-link">
        <a ng-click="toggleWatchPost(card.watch = !card.watch)" ng-class="{'active' : card.watch, 'non-active' : !card.watch}" id="watch">
          <i class="ion-ios-eye"></i> 위험해요
        </a>
        <a><i class="ion-chatbubble-working"></i> 댓글달기</a>
        <a ng-click="showDialog(card)"><i class="ion-forward"></i> 공유하기</a>

      </div>
      <hr>


      <!-- ========================== comment section ========================== -->
      <div id="comment_section">
        <div ng-repeat="comment in comments track by $index" class="comment-list">
          <img ng-src="{{ ::comment.user[0].userimage }}" class="profile-image">
          <div class="description">
            <strong>{{ ::comment.user[0].username }}</strong>
            <a class="comment-delete" ng-click="deleteComment(comment)" ng-style="userChecked(comment)">
              <i class="ion-trash-b"></i>
            </a>
            <p>{{ ::comment.content }}</p>
            <small>{{ comment.updated_at | date:'yyyy-MM-dd HH:mm:ss' }}</small>
          </div>
        </div>

        <form class="comment-form" ng-submit="addComment()">
          <input type="text" name="comment" id="comment" ng-model="comment" ng-model-options="{ debounce: 500 }" placeholder="댓글을 입력하세요...">
          <button class="btn btn-default">올리기</button>
        </form>
      </div>

      <!-- ========================== comment section end ========================== -->

      <div id="map"></div>

    </div>
  </ion-content>
</ion-view>
