<ion-view view-title="{{card.title}}">
  <ion-content padding="true">
  	<div id="detail_page">

      <img src="{{ card.img_path }}">
      <!-- <h1 class="title">{{ postTitle }}</h1> -->
      <p>{{ card.description }}</p>
      <a href="#" ng-click="showMap()">
        <p id="post_location_name" class="fa fa-map-marker">{{ card.location_name }}</p>
      </a>

      <div class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped progress-{{ card.status }}" role="progressbar" aria-valuenow="{{ card.status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ card.status }}%">
        </div>
      </div>
      <p class="progressText progress-{{ card.status }}">{{ card.statusDescription }}</p>

      <div class="additional-function">
        <span>Watch {{ like_count }}</span>
        <span>댓글 {{ comments_count }}</span>
        <span>공유 0</span>
      </div>

      <div class="sns-link">
        <a href="#" ng-click="toggleLike(watch = !watch)" ng-class="{'active' : card.watch, 'non-active' : !card.watch}" id="like">
          <i class="fa fa-thumbs-up"></i> Watch
        </a>
        <a href="#"><i class="fa fa-commenting"></i> 댓글달기</a>
        <a href="#" id="sns-share"><i class="fa fa-share"></i> 공유하기</a>
      </div>

      <div ng-class="{'change-member' : !changerImage, 'change-member active' : changerImage}">
        <div ng-repeat="changer in changers" ng-class="{'member-list ng-hide' : !changerImage, 'member-list ng-show' : changerImage}">
          <a href="#" ng-click="openProfile(changer.changeUser[0])"><img ng-src="{{changer.changeUser[0].userimage}}" ng-show="{{ changerImage }}"></a>
        </div>

        <div class="change-description">
          <button class="change-button btn btn-default" ng-click="weChange()"><i class="icon ion-wrench"></i> 우리가 바꿔요!</button>
          <p>ChangeMaker가 되어 해당 이슈를 직접 해결합니다</p>
        </div>
      </div>

      <!-- ========================== comment section ========================== -->
      <div id="comment_section">
        <div ng-repeat="comment in comments track by $index" class="comment-list">
          <img ng-src="{{ comment.user[0].userimage }}" class="profile-image">
          <div class="description">
            <strong>{{ comment.user[0].username }}</strong>
            <a class="comment-delete" ng-click="deleteComment(comment)" ng-style="userChecked(comment)">
              <i class="ion-trash-b"></i>
            </a>
            <p>{{ comment.content }}</p>
            <small>{{ comment.updated_at | date:'yyyy-MM-dd HH:mm:ss' }}</small>
          </div>
        </div>

        <form class="comment-form" ng-submit="addComment()">
          <input type="text" name="comment" id="comment" ng-model="comment" placeholder="댓글을 입력하세요...">
          <button class="btn btn-default">done</button>
        </form>
      </div>

      <!-- ========================== comment section end ========================== -->

      <div id="map"></div>

    </div>
  </ion-content>
</ion-view>
