<ion-view>
  <ion-content padding="true">

  	<div id="detail_page">

      <img src="{{ postImage }}">
      <h1 class="title">{{ postTitle }}</h1>
      <p>{{ postDescription }}</p>
      <p><i class="fa fa-map-marker"></i> {{ address }}</p>

      <div class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="{{status}}" aria-valuemin="0" aria-valuemax="100" style="width: {{status}}%">
        </div>
      </div>
      <p class="progressText">{{ statusDescription }}</p>
      <hr>

      <div class="sns-link">
        <a href="#" ng-click="toggleLike(watch = !watch)" ng-class="{'active' : watch, 'non-active' : !watch}" id="like">
          <i class="fa fa-thumbs-up"></i> 좋아요 {{like_count }}개
        </a>
            <a href="#"><i class="fa fa-commenting"></i> 댓글 {{comments_count}}개</a>
        <a href="#" id="sns-share"><i class="fa fa-share"></i> 공유하기</a>
      </div>

      <!-- ========================== comment section ========================== -->
      <div id="comment_section">

        <form class="comment-form" ng-submit="addComment()">
          <input type="text" id="comment" ng-model="comment" placeholder="댓글을 입력하세요...">
          <button class="btn btn-default">done</button>
        </form>

        <div ng-repeat="comment in comments track by $index" class="comment-list">
          <img ng-src="{{ comment.user[0].userimage }}" class="profile-image">
          <div class="description">
            <strong>{{ comment.user[0].username }}</strong>
            <p>{{ comment.content }}</p>
            <small>{{ comment.updated_at | date:'yyyy-MM-dd HH:mm:ss' }}</small>
            <a ng-click="deleteComment(comment)" ng-style="userChecked(comment)"><small>| delete</small></a>
          </div>
        </div>

      </div>
      <!-- ========================== comment section end ========================== -->

      <div id="map"></div>

    </div>
  </ion-content>
</ion-view>
