<ion-view view-title="개인정보 취급방침">
  <ion-content>

  	<div class="privacy">
  		<p><span class="redEmphasis">WeChangeMakers</span>(이하 "회사"라 함)는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보보호법, 통신비밀보호법, 전기통신사업법, 등 정보통신서비스제공자가 준수하여야 할 관련 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보취급방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다.<br />
			본 개인정보취급방침은 다음과 같은 내용을 담고 있습니다.</p>

			<ul>
				<li>- 수집하는 개인정보의 항목 및 수집방법</li>
				<li>- 개인정보의 수집 및 이용목적</li>
				<li>- 개인정보의 공유 및 제공</li>
				<li>- 개인정보의 취급위탁</li>
				<li>- 개인정보의 보유 및 이용기간</li>
				<li>- 개인정보 파기절차 및 방법</li>
				<li>- 이용자 및 법정대리인의 권리와 그 행사방법</li>
				<li>- 개인정보 자동 수집 장치의 설치/운영 및 거부에 관한 사항</li>
				<li>- 개인정보의 기술적/관리적 보호 대책</li>
				<li>- 개인정보관리책임자 및 담당자의 연락처</li>
				<li>- 기타</li>
				<li>- 고지의 의무</li>
			</ul>

			<div class="term">
				<h2>1. 수집하는 개인정보의 항목 및 수집방법</h2>
					<h3>가. 수집하는 개인정보의 항목</h3>
						<h4>- 회사는 회원가입, 원활한 고객상담, 각종 서비스의 제공을 위해 아래와 같은 개인정보를 수집하고 있습니다.</h4>
							<h5 class="redEmphasis">- 필수: 이름, 비밀번호, 이메일주소, 성별, 출생년도, 위치정보(위도•경도•고도,GeoHash정보,수집일시), CongKong 친구목록, 페이스북 친구목록</h5>
		 					<h5 class="redEmphasis">- 선택: 회사/학교, 부서/학과, 직책, 휴대폰 번호, 계정연동(페이스북, 트위터, 구글플러스)</h5>
		 				<h4>- 서비스 이용과정에서 아래와 같은 정보가 생성되어 수집될 수 있습니다.</h4>
		 					<h5>- IP Address, 쿠키, 방문 일시, 서비스 이용 기록, 불량 이용 기록, 결제기록</h5>
		 				<h4>- 이벤트 응모, 경품배송 등의 목적으로 아래의 정보가 서비스 이용 도중 추가 수집될 수 있습니다.</h4>
		 					<h5>- 휴대폰 번호, 주소</h5>

		 			<h3>나. 개인정보 수집방법</h3>
		 				<h4>회사는 다음과 같은 방법으로 개인정보를 수집합니다.</h4>
		 				<h4>- 홈페이지, 서면양식, 팩스, 전화, 상담 게시판, 이메일, 이벤트 응모, 배송요청</h4>
		 				<h4>- 협력회사로부터의 제공</h4>
		 				<h4>- 생성정보 수집 툴을 통한 수집</h4>
	 		</div>

	 		<div class="term">
		 		<h2>2. 개인정보의 수집 및 이용목적</h2>
		 			<h3>회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.</h3>
					<h3>가. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산</h3>
						<h4>컨텐츠 제공, 물품배송 또는 청구서 등 발송, 구매 및 요금 결제, 요금추심</h4>
					<h3>나. 회원관리</h3>
						<h4>회원제 서비스 제공, 개인식별, 불량회원(이용약관 위반에 따라 이용제한 또는 계약 해지된 회원)의 부정 이용방지와 비인가 사용방지, 가입의사 확인, 가입 및 가입횟수 제한, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달</h4>
					<h3>다. 신규 서비스 개발 및 마케팅ㆍ광고에의 활용</h3>
						<h4>신규 서비스 개발 및 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속빈도 파악, 회원의 서비스이용에 대한 통계</h4>
			</div>


			<div class="term">
				<h2>3. 개인정보의 공유 및 제공</h2>
					<h3>회사는 이용자들의 개인정보를 "2. 개인정보의 수집목적 및 이용목적"에서 고지한 범위내에서 사용하며, 이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 외부에 공개하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</h3>
					<h3>- 이용자들이 사전에 동의한 경우</h3>
					<h3>- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</h3>
			</div>


			<div class="term">
				<h2>4. 개인정보의 보유 및 이용기간</h2>
					<h3>이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 단, 회사는 개인정보 도용 등으로 인한 원치않는 회원탈퇴 등에 대비하기 위하여 회원탈퇴 요청 후, 7일간 개인정보를 보유합니다. 또한 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존하며, 그 외 다른 목적으로는 절대 사용하지 않습니다.</h3>
					<h3>가. 회사 내부 방침에 의한 정보보유 사유</h3>
						<h4>- 부정이용기록</h4>
							<h5>- 보존 이유 : 부정 이용 방지</h5>
							<h5>- 보존 기간 : 3개월</h5>
					<h3>나. 관련법령에 의한 정보보유 사유</h3>
						<h4>상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다. 이 경우 회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 아래와 같습니다.</h4>
						<h4>- 웹사이트 방문기록</h4>
							<h5>- 보존 이유 : 통신비밀보호법</h5>
							<h5>- 보존 기간 : 3개월</h5>
						<h4>- 소비자의 불만 또는 분쟁처리에 관한 기록</h4>
							<h5>- 보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</h5>
							<h5>- 보존 기간 : 3년</h5>
						<h4>- 계약 또는 청약철회 등에 관한 기록</h4>
							<h5>- 보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</h5>
							<h5>- 보존 기간 : 5년</h5>
						<h4>- 대금결제 및 재화 등의 공급에 관한 기록</h4>
							<h5>- 보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</h5>
							<h5>- 보존 기간 : 5년</h5>
			</div>


			<div class="term">
				<h2>5. 개인정보 파기절차 및 방법</h2>
					<h3>이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다.
							회사의 개인정보 파기절차 및 방법은 다음과 같습니다.</h3>
					<h3>가. 파기절차</h3>
						<h4>이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조)일정 기간 저장된 후 파기됩니다. <br />동 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.</h4>
					<h3>나. 파기방법</h3>
						<h4>- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</h4>
						<h4>- 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</h4>
			</div>


			<div class="term">
				<h2>6. 이용자 및 법정대리인의 권리와 그 행사방법</h2>
					<h3>이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며, 회사의 개인정보의 처리에 동의하지 않는 경우 동의를 거부하거나 가입해지(회원탈퇴)를 요청하실 수 있습니다. 다만, 그러한 경우 서비스의 일부 또는 전부 이용이 어려울 수 있습니다.
					이용자 혹은 만 14세 미만 아동의 개인정보 조회 및 수정을 위해서는 ‘개인정보변경’(또는 ‘회원정보수정’ 등)을, 가입해지(동의철회)를 위해서는 “회원탈퇴”를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.
					혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.
					이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.
					회사는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는“4. 개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.</h3>
			</div>


			<div class="term">
				<h2>7. 개인정보 자동 수집 장치의 설치/운영 및 거부에 관한 사항</h2>
					<h3>회사는 개인화되고 맞춤화된 서비스를 제공하기 위해서 이용자의 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다. 쿠키는 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에게 보내는 아주 작은 텍스트 파일로 이용자 컴퓨터의 하드디스크에 저장됩니다.</h3>
					<h3>가. 쿠키의 사용 목적</h3>
						<h4>회사는 쿠키를 이용하여, 이용자들이 이용한 회사의 각 서비스와 이용형태 분석, 회원제 서비스 제공 등을 위하여 쿠키를 이용합니다.</h4>
					<h3>나. 쿠키의 설치/운영 및 거부</h3>
						<h4>- 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.</h4>
						<h4>- 다만, 쿠키의 저장을 거부할 경우에는 로그인이 필요한 회사의 일부 서비스는 이용에 어려움이 있을 수 있습니다.</h4>
						<h4>- 쿠키 설치 허용 여부를 지정하는 방법(Internet Explorer의 경우)</h4>
							<h5>- [도구] 메뉴에서 [인터넷 옵션]을 선택합니다.</h5>
							<h5>- [개인정보 탭]을 클릭합니다.</h5>
							<h5>- [개인정보취급 수준]을 설정하시면 됩니다.</h5>
			</div>


			<div class="term">
				<h2>8. 개인정보의 기술적/관리적 보호 대책</h2>
					<h3>회사는 이용자들의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적/관리적 대책을 강구하고 있습니다.</h3>
					<h3>가. 비밀번호 암호화</h3>
						<h4>회사의 각 서비스별 회원 아이디(ID)의 비밀번호는 암호화되어 저장 및 관리되고 있어 본인만이 알고 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다.</h4>
					<h3>나. 해킹 등에 대비한 대책</h3>
						<h4>회사는 해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다. 개인정보의 훼손에 대비해서 자료를 수시로 백업하고 있고, 최신 백신프로그램을 이용하여 이용자들의 개인정보나 자료가 누출되거나 손상되지 않도록 방지하고 있으며, 암호화통신 등을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다. 그리고 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있으며, 기타 시스템적으로 보안성을 확보하기 위한 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다.</h4>
					<h3>다. 취급 직원의 최소화 및 교육</h3>
						<h4>회사의 개인정보관련 취급 직원은 담당자에 한정시키고 있고 이를 위한 별도의 비밀번호를 부여하여 정기적으로 갱신하고 있으며, 담당자에 대한 수시 교육을 통하여 본 개인정보취급방침의 준수를 항상 강조하고 있습니다.</h4>
					<h3>라. 개인정보보호전담기구의 운영</h3>
						<h4>그리고 사내 개인정보보호전담기구 등을 통하여 본 개인정보취급방침의 이행사항 및 담당자의 준수여부를 확인하여 문제가 발견될 경우 즉시 수정하고 바로 잡을 수 있도록 노력하고 있습니다. <br />
						단, 이용자 본인의 부주의나 인터넷상의 문제로 ID, 비밀번호, 주민등록번호 등 개인정보가 유출되어 발생한 문제에 대해 회사는 일체의 책임을 지지 않습니다.</h4>
			</div>


			<div class="term">
				<h2>9. 개인정보관리책임자 및 담당자의 연락처</h2>
					<h3>회사는 개인정보에 대한 의견수렴 및 불만처리를 담당하는 개인정보 관리책임자 및 담당자를 지정하고 있고, 연락처는 아래와 같습니다.</h3>
					<h3 class="redEmphasis">[개인정보 관리책임자]</h3>
						<h4 class="redEmphasis">이름 : 김훈영, 소속/직위 : 프로덕트 매니저, E-MAIL : gnsehtl@gmail.com</h4>
					<h3>귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다. <br />
					기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</h3>
					<h4>- 개인정보침해신고센터 (http://www.118.or.kr, 국번없이 118)</h4>
					<h4>- 대검찰청 사이버범죄수사단 (http://www.spo.go.kr, 전화 02-3480-3571)</h4>
					<h4>- 경찰청 사이버범죄수사단(http://www.ctrc.go.kr, 전화 1566-0112)</h4>
			</div>


			<div class="term">
				<h2>10. 기타</h2>
					<h3>서비스에 링크되어 있는 모바일 웹 브라우저, 웹사이트 등이 개인정보를 수집하는 행위에 대해서는 본 "개인정보취급방침"이 적용되지 않음을 알려 드립니다.</h3>
			</div>


			<div class="term">
				<h2>11. 고지의 의무</h2>
					<h3>현 개인정보취급방침의 내용 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일전부터 서비스를 통해 공지할 것입니다. 다만, 개인정보의 수집 및 활용, 제3자 제공 등과 같이 이용자 권리의 중요한 변경이 있을 경우에는 최소 30일 전에 고지합니다.</h3>
						<h4 class="redEmphasis">공고일자 : 2014년 07월 05일</h4>
						<h4 class="redEmphasis">시행일자 : 2014년 07월 05일</h4>
			</div>
  	</div>

  </ion-content>
</ion-view>
