<ion-view view-title="Profile">
  <ion-content>
    
    <form class="form-horizontal profile-form">
	    <img src="{{ userimage }}">

		  <div class="form-group">
		    <label class="col-xs-2 control-label">Name</label>
		    <div class="col-xs-10">
		      {{ username }}
		    </div>
		  </div>

		  <div class="form-group">
		    <label class="col-xs-2 control-label">Likes</label>

		    <div class="col-xs-10">
		      <div ng-repeat="card in cards">
		      	<a href="#/tab/home/{{ card.id }}">{{ card.title }}</a>
		      	
		      	<div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{card.status}}%">
              </div>
            </div>
		      	
		      	<div>
		      		<button class="btn btn-info btn-xs" ng-click="idea(card)">프로젝트 시작</button>
		      		<button class="btn btn-warning btn-xs" ng-click="doing(card)">프로젝트 진행</button>
		      		<button class="btn btn-success btn-xs" ng-click="done(card)">프로젝트 완료</button>
		      	</div>
		      	<hr>
		      </div>
		    </div>

		  </div>
		  <hr>
    	<button ng-click="logOut()" class="btn btn-default">LogOut</button>
    </form>

  </ion-content>
</ion-view>