<ion-view view-title="프로필">
	<ion-nav-buttons side="right">
    <button type="submit" ng-if="adminUser" class="button button-icon" ng-click="sendPushNotification()">
      <i class="icon ion-cube"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div id="profile_page">

	    <form class="form-horizontal profile-form" ng-class="{'user active' : userCheck, 'user non-active' : !userCheck}">
		    <img ng-src="{{ user.userimage }}">

			  <div class="form-group username">
			    <a ng-click="config()"><label>{{ user.username }} <i class="profile-setting-icon"></i></label></a>
			  </div>

		  	<div class="row">
				<a ng-click="showReportList()" class="left-tab" ng-class="{'menu-tab active' : reportTab, 'menu-tab non-active' : !reportTab}">내가 제보한 위험</a>
				<a ng-click="showChangeList()" class="center-tab" ng-class="{'menu-tab active' : changeTab, 'menu-tab non-active' : !changeTab}">내가 해결한 위험</a>
				<a ng-click="showWatchList()" class="right-tab" ng-class="{'menu-tab active' : watchTab, 'menu-tab non-active' : !watchTab}">위험해요! 리스트</a>
		    </div>

			  <div class="form-group login">
			  	 <!--내가 제보한 위험 리스트-->
			    <div ng-class="{'card-info active' : reportTab, 'card-info non-active' : !reportTab}">
			    	<div class="empty-text"> {{ reportEmptyMessage }} </div>
			    	<ion-item ng-repeat="card in reportList  | reverse" class="my-card-list">
				    	<a href="#/tab/home/{{ card.id }}" class="title"><p>{{ card.title }}</p></a>
				    	<div class="progress">
		            <div class="progress-bar progress-bar-danger progress-bar-striped progress-{{card.status}}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{card.status}}%">
		            </div>
		          </div>
		          <p class="progressText progress-{{card.status}}"><i class="project-icon {{card.statusIcon}}"></i> {{ card.statusDescription }}</p>
		          <div class="progress-button">
			      		<a ng-click="idea(card)"><i class="project-icon project-start-dis"></i> 시작</a>
			      		<a ng-click="doing(card)"><i class="project-icon project-ongoing-dis"></i> 진행</a>
			      		<a ng-click="done(card)"><i class="project-icon project-complete-dis"></i> 완료</a>
			      	</div>
			      </ion-item>
			    </div>
				 <!--내가 해결한 위험 리스트-->
			    <div ng-class="{'change-info active' : changeTab, 'change-info non-active' : !changeTab}">
			    	<div class="empty-text"> {{ changeEmptyMessage }} </div>
				    <ion-item ng-repeat="change in changeList | reverse" class="my-change-list">
				    	<p class="title">{{ change.title }}</p>
				    	<div class="progress">
		            <div class="progress-bar progress-bar-danger progress-bar-striped progress-{{change.status}}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{change.status}}%">
		            </div>
		          </div>
		          <p class="progressText progress-{{change.status}}"><i class="project-icon {{change.statusIcon}}"></i> {{ change.statusDescription }}</p>

		          <div class="change-list-button">
			         	<a class="btn btn-default btn-sm change-list left" href="#/tab/profile/{{ change.id }}">자세히 보기</a>
			         	<a class="btn btn-default btn-sm change-list right" ng-click="cancelChanger(change)">취소하기</a>
			        </div>
				    </ion-item>
			    </div>
				  <!--위험해요! 리스트-->
			    <div ng-class="{'watch-info active' : watchTab, 'watch-info non-active' : !watchTab}">
			    	<div class="empty-text"> {{ watchEmptyMessage }} </div>
				    <ion-item ng-repeat="watch in watchList | reverse" class="my-change-list">
				    	<p class="title">{{ watch.title }}</p>
				    	<div class="progress">
		            <div class="progress-bar progress-bar-danger progress-bar-striped progress-{{watch.status}}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{watch.status}}%">
		            </div>
		          </div>
		          <p class="progressText progress-{{watch.status}}"><i class="project-icon {{watch.statusIcon}}"></i> {{ watch.statusDescription }}</p>
		          <div class="watch-list-button">
			         	<a class="btn btn-default btn-sm watch-list left" href="#/tab/profile/{{ watch.id }}">자세히 보기</a>
			         	<a class="btn btn-default btn-sm watch-list right" ng-click="toggleWatchProfile(watch.watch = !watch.watch, watch.id)" ng-class="{'active' : watch.watch, 'non-active' : !watch.watch}" id="watch">
	                <i class="ion-ios-eye"></i>  위험해요 {{ card.watch_count }}
	              </a>
			        </div>
						</ion-item>
			    </div>


			  </div>
	    </form>
  </ion-content>
</ion-view>