<ion-view>
	<ion-tabs class="tabs-icon-top tabs-dark">
	  <ion-tab title="Home" icon="ion-home" href="#/tab/home">
	    <ion-nav-view name="home-tab"></ion-nav-view>
	  </ion-tab>
	  <ion-tab title="Posting" icon="ion-compose" ui-sref="tabs.write" ng-click="userLoginCheck('write')">
	    <ion-nav-view name="write-tab"></ion-nav-view>
	  </ion-tab>
	  <ion-tab title="Profile" icon="ion-person" ui-sref="tabs.profile" ng-click="userLoginCheck('profile')">
	    <ion-nav-view name="profile-tab"></ion-nav-view>
	  </ion-tab>
	</ion-tabs>
	<div class="bar bar-subheader header-offline" id="sub_header_offline">
		<h1 class="title">인터넷 연결 끊김</h1>
		<button class="button button-icon" ng-click="closeSubHeader()">
		   <i class="icon ion-close"></i>
		 </button>
	</div>
</ion-view>
