<ion-view view-title="Warning Map">
  <ion-nav-buttons side="right">
    <ion-checkbox class="checkbox_custrom" ng-model="usegmm.checked" ng-change="change()">
    </ion-checkbox>
    <!-- <select id="nummarkers">
      <option value="10">10</option>
      <option value="50">50</option>
      <option value="100" selected="selected">100</option>
      <option value="500">500</option>
      <option value="1000">1000</option>
    </select> -->
  </ion-nav-buttons>
  <ion-content>
    <input id="pac-input-warn" class="controls pac-input" type="text" placeholder="Search Box">
    <div id="map-warn" class="map" data-tap-disabled="true"></div>
    <a id="find-me-warn" ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
  </ion-content>
</ion-view>
