<ion-view view-title="Write">
  <ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="uploadCard()">
        <i class="icon ion-checkmark"></i>
    </button>
  </ion-nav-buttons>
  <form name="itemEdit" novalidate>
  <ion-content>
    <div class="row" ng-class="{'no-padding-top': !data.editItem}">
      <div class="col">
        <label class="item item-input large">
          <input id="card_title" type="text" placeholder="Title" ng-model="userdata.title" name="title">
        </label>
      </div>
    </div>
    <div class="row description-row">
      <div class="col">
        <label class="item item-input text">
          <textarea id="card_des" placeholder="Description" rows="5" ng-model="userdata.description" ng-Required="true" name="description" lose-focus-on-return></textarea>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ion-item id="card_location" ng-click="showMap()" lat="" long="">
          location
        </ion-item>
      </div>
    </div> 
    <div class="row charity-row">
      <div class="col col-10 vert-center">
        <div class="charity large"></div>
      </div>
    </div>
    <img id="card_img" ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
  </ion-content>
  </form>
</ion-view>