<ion-view view-title="업로드">
  <ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="uploadCard()">
        <i class="icon ion-checkmark"></i>
    </button>
  </ion-nav-buttons>
  <form name="itemEdit" novalidate>
  <ion-content>

    <div class="form-group" id="wrtie_page">
        <div class="col">
          <label class="item item-input large">
            <input id="card_title"   type="text" placeholder="제목을 입력하세요." ng-model="userdata.title" name="title">
          </label>
        </div>
        <div class="col">
          <label class="item item-input text">
            <textarea id="card_des" placeholder="상세 내용을 입력하세요." rows="5" ng-model="userdata.description" ng-Required="true" name="description" lose-focus-on-return></textarea>
          </label>
        </div>

        <div class="col">
          <ion-item id="card_location" ng-click="showMap()" lat="" long="">
            <i class="fa fa-map-marker"></i> location
          </ion-item>
        </div>

        <div class="col col-10 vert-center">
          <div class="charity large"></div>
        </div>

      <img id="card_img" ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
      <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">

    </div>
  </ion-content>
  </form>
</ion-view>