#home_page {
	background-color: gainsboro;
	width: 100%;
	display: block;
}

#home_page a.find-warning {
	text-align: center;
	display: block;
}

/*popover height*/
.home_popover{
	height: 175px;
}
/*popover시 배경화면 어두운 정도*/
.popover-backdrop.active{
  background-color: rgba(0, 0, 0, 0.6) !important;
}
/*Android에서만 적용됨 (popOver의 margin값)*/
.platform-android .popover{
  margin-top: 10px; /*home에서 sorting popover의 margin -32px를 덮어씀*/
}
/*active 탭에 대한 icon과 글자 색*/
.tab-item-active .icon, .tab-item-active .tab-title{
	color : #fff;	
}
#home_page hr {
	margin: 0px;
}

#home_page .posts {
	padding: 0 0 10px 0;
	background-color: #ededeb;
	border : none;
}

#home_page .post-body {
	padding: 5px 10px 0px 10px;
	background-color: #fff;
	border-radius: 5px;
	margin: 10px 10px 0px 10px;
	box-shadow: 0px 1px 5px 1px #a0a0a0;
}

#home_page .profile {
	margin-top: 10px;
}

#home_page .profile img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	float: left;
	margin-right: 10px;
}

#home_page .profile p.username {
	color: black;
	font-weight: bolder;
}

#home_page .profile p.date {
	font-size: 12px;
	display: inline-block;
	color: #a0a0a0;
}

#home_page .profile i {
	font-size: 35px;
	position: absolute;
	top: 25px;
	color: #c7c7c7;
}

#home_page .profile i.edit {
	right: 60px;
}

#home_page .profile i.delete {
	right: 25px;
}

#home_page .content .title {
	text-align: left;
	margin: 10px 0px 5px 0px;
}

#home_page .content .address i {
	color: #ea5c50;
}

#home_page .content img.post-image {
	margin: 10px 0px 20px 0px;
	display: block;
	width: 100%;
}

#home_page .content p.address {
	color: #a0a0a0;
	font-size: 13px;
}

#home_page .content .snsHover {
	color: white;
	background: black;
	opacity: 0.6;
	bottom: 0px;
	width: 100%;
	height: 30px;
	position: absolute;
	text-align: right;
	font-size: 17px;
	padding: 5px 10px 0px 0px;
}

#home_page .content .snsHover i {
	margin-left: 10px;
}

#home_page p.progressText {
	text-align: center;
	margin-bottom: 10px;
	color: #a0a0a0;
	font-weight: bold;
	font-size: 13px;
}

#home_page .progressText i {
	color: #efae28;
	font-size: 15px;
}

#home_page .sns-link {
	width: 90%;
	height: 40px;
	padding-top: 8px;
	margin: 0 auto;
}

#home_page .sns-link a {
	width: 32.8%;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 2px 0px 2px 0px;
	font-size: 14px;
	color: #a0a0a0;
}

#home_page .sns-link .active {
	color: #e85d54;
	font-weight: bolder;
}

#home_page .sns-link .non-active {
	color: #a0a0a0;
}

button.more {
	width: 100%;
	height: 50px;
	display: block;
	bottom: 0px;
	z-index: 100;
}

.progress{
	height: 15px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
}
.progress .progress-100{
	background-color: #89c553;
}

.progress .progress-66{
	background-color: #efae28;
}

.progress .progress-33{
	background-color: #ea5c50;
}

.dark-overlay {
  opacity: 0.9;
  display: none;
}

/*.dark-item {
  background-color: transparent !important;
  color: #fff !important;
  border-color: #444 !important;
}
*/
.overlay-spacer {
  height: 43px;
}

.content-flush {
  top: 0px !important;
}

.slider-pager {
	bottom: 80px;
}

.overlay-box{
	height: 100%;
}

.welcome-slide{
	width: 20%;
	height: 100%;
	position: absolute;
	top : 0;
}
.slide-prev{
	left: 0;
}
.slide-next{
	right: 0;
}

.slide-1-back, .slide-5-back {
	background-color: #31b69f;
}

.slide-2-back, .slide-3-back, .slide-4-back {
	background-color: #0d2f29;
}

.overlay-box figure.slide-1 {
	background: url("../img/Mark01.png") no-repeat;
	width: 85%;
	height: 95%;
	background-size: contain;
	margin: 0 auto;
}

.overlay-box figure.slide-2 {
	background: url("../img/Mark02.png") no-repeat;
	width: 85%;
	height: 95%;
	background-size: contain;
	margin: 0 auto;
}

.overlay-box figure.slide-3 {
	background: url("../img/Mark03.png") no-repeat;
	width: 85%;
	height: 95%;
	background-size: contain;
	margin: 0 auto;
}

.overlay-box figure.slide-4 {
	background: url("../img/Mark04.png") no-repeat;
	width: 85%;
	height: 95%;
	background-size: contain;
	margin: 0 auto;
}

.overlay-box figure.slide-5 {
	background: url("../img/Mark05-1.png") no-repeat;
	width: 85%;
	height: 95%;
	background-size: contain;
	margin: 0 auto;
}

.overlay-box .slide-5-back figure.fb {
	background: url("../img/fb-button.png") no-repeat;
	background-size: contain;
	width: 70%;
	height: 8%;
	z-index: 1000;
	position: absolute;
	top: 25%;
	left: 15%;
	margin: 0 auto;
}

a.overlay-close {
	color: white;
	display: inline-block;
	width: 25px;
	height: 30px;
	top: 70px;
	right: 15px;
	position: absolute;
	z-index: 1;
}

.checkbox_custrom{
	position: absolute;
	top: 60px;
  border: none;
  background-color: transparent !important;
  color: #fff;
}
.checkbox_custrom input:checked:before, .checkbox_custrom input:checked + .checkbox-icon:before{
  
  background: #E0624D;
  border-color: #E0624D;
}

span.slider-pager-page{
	color: #fff !important;
}

.info_01{
	position:absolute;
	top: 0;
	right : 2%;
}
.info_02{
	position:absolute;
	bottom: 50px;
	right : 23%;;
}
.info_03{
	position:absolute;
	bottom: 50px;
	right : 32%;
}
