#home_page {
	background-color: gainsboro;
	width: 100%;
	display: block;
}

#home_page a.find-warning {
	text-align: center;
	display: block;
}

#home_page .posts {
	padding: 0 0 10px 0;
	background-color: #ddd;
	border : none;
}

#home_page .post-body {
	padding: 5px 10px 0px 10px;
	background-color: #fff;
	border-radius: 10px;
	margin: 10px 10px 0px 10px;
	box-shadow: 2px 3px 10px 2px #888888;
}

#home_page h2 {
	text-align: center;
	margin: 20px;
}
#home_page .content h2{
	margin : 10px 0;
	width : 100%;
}

#home_page .content .post-image {
	margin-bottom: 20px;
}

#home_page .profile {
	margin: 10px 0px 10px 0px;
}

#home_page .profile img {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	float: left;
	margin-right: 10px;
}

#home_page .profile p.username {
	color: black;
	font-weight: bolder;
}

#home_page .profile p.date {
	font-size: 12px;
	display: inline-block;
}

#home_page .profile .float-edit {
	float: right;
	top : -20px;
	margin-left : 10px;
}

#home_page .content img {
	width: 100%;
	height: 200px;
}

#home_page p.progressText {
	text-align: center;
	margin-bottom: 20px;
}

#home_page p.progress-100 {
	color: #00B050;
}

#home_page p.progress-66 {
	color: #E6AD00;
}

#home_page p.progress-33 {
	color: #d9534f;
}

#home_page .additional-function {
	color: grey;
	text-align: center;
	font-size: 13px;
}

#home_page .additional-function span {
	margin: 0px 5px 0px 5px;
}

#home_page .sns-link {
	/*border-top: 1px solid #eee;*/
	width: 90%;
	height: 	50px;
	padding-top : 15px;
	margin: 0 auto;
}

#home_page .sns-link a {
	width: 32.8%;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 2px 0px 2px 0px;
	font-size: 14px;

	border: 1px solid #7F7266;
	border-radius: 6px;
	color: grey;
}

#home_page .sns-link .active {
	background-color: #695B4D;
	color: white;
}

#home_page .sns-link .non-active {
	color: #695B4D;
}

button.more {
	width: 100%;
	height: 50px;
	display: block;
	bottom: 0px;
	z-index: 100;

}

.center-cropped{
	width: 100%;
	height: 300px;
	min-height: 100px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.progress{
	margin-bottom: 10px;
	height: 15px;
}
.progress .progress-100{
	background-color: #00B050;
}
.progress .progress-66{
	background-color: #FFC000;
}
.progress .progress-33{
	background-color: #d9534f;
}



.dark-overlay {
  background-color: #222 !important;
  opacity: 0.85;
  display: none;
}
.dark-item {
  background-color: transparent !important;
  color: #fff !important;
  border-color: #444 !important;
}

.overlay-spacer {
  height: 43px;
}
.content-flush {
  top: 0px !important;
}
.slider-pager{
	bottom : 0;
	top : 30px;
}

.overlay-box{
	height: 100%;
	padding-top: 20px;
}
.info_box{
	text-align: center;
	width: 80%;
	margin-left: 10%;
	padding-top : 50%;
}
.info_box h1{
	color : #E0624D;
}
.info_box h4{
	color : #eee;
}

.blue{
	height: 100%;
	/*background-color: blue !important;*/
}
.red{
	height: 100%;
	/*background-color: red !important;*/
}


.checkbox_custrom{
	position: absolute;
	top : 55px;
  border : none;
  background-color: transparent !important;
  color: #fff;
}
.checkbox_custrom input:checked:before, .checkbox_custrom input:checked + .checkbox-icon:before{
  
  background: #E0624D;
  border-color: #E0624D;
}

span.slider-pager-page{
	color: #fff !important;
}

.info_01{
	position:absolute;
	top: 0;
	right : 2%;
}
.info_02{
	position:absolute;
	bottom: 50px;
	right : 23%;;
}
.info_03{
	position:absolute;
	bottom: 50px;
	right : 32%;
}
