.map {
    height: 100%;
    width: 100%;
}

.scroll {
    height: 100%;
}

.input-box{
  background-color: #efae28;
  width: 100%;
}
.pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px !important;
  text-overflow: ellipsis;
  width: 96%;
  margin : 10px 2%;
  /*display: initial !important;*/
}

.pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s flipInX ease; }

.map-icon{
  background-color : #fff;
  color: #a0a0a0; 
  width: 50px;
  border: 1px solid darkgrey;
  border-radius: 25px;
  margin: 0 0 30px 30px;
  box-shadow: 0px 0px 10px darkgrey;
}
.find-me{
  margin: 0 0 10px 10px;  
}

.find-me-text{
  width: 160px;
  height: 20px;
  font-size : 16px;
  margin: 0 0 20px 10px;
}

.change-marker-type{
  margin: 0 10px 22px 0 ; /*google의 RIGHT_BOTTOM과 LEFT_BOTTOM 높이차이로 인해 find-me 보다 +12px*/
}

.location-button{
  background-color : #fff !important;
}
.location-button-icon{
  width : 30px;
  height: 30px;
}

.warning_sheet .button{
  color : #222;
}
.warning_sheet .action-sheet-option{
  color : #fff;
}
.warning_sheet .action-sheet-option:hover{
  color : #eee;
}
.warning_sheet .action-sheet-option:nth-child(2){
  background-color : #e0624d;
}
.warning_sheet .action-sheet-option:nth-child(3){
  background-color : #ffbf00;
}
.warning_sheet .action-sheet-option:nth-child(4){
  background-color : #65b614;
}

.info-top{
  padding : 10px 10px 5px 10px;
}
.info-img{
  width: 100%;
  display: block;
}
.info_location_img{
  width : 20px;
  height : 20px;
}
.info_location_text{
  position: relative;
  top: -5px;
  left: 0;
}
.info .detail_view{
  text-align: center;
  font-size: 130%;
  height: 40px;
  padding-top: 10px;
  color: #bbb;
}

.gm-style-iw {
  /* width: 300px !important; */
  /*background-color: #fff;*/
  background-color: rgba(0,0,0,0); 
  top: 15px !important;
  left: 0 !important;
  border-radius: 2px 2px 10px 10px; 
}
.gm-style-iw  :first-child { 
  max-width: none !important;
}


/*
* +버튼을 눌렀을 때 나오는 custom_popover 
* 기본적으로 ionic의 popover를 사용하고 
* 배경화면 어두운 정도는 전체적으로 적용하되
* 나머지는 custom_popover에서 필요한 부분만 override하여 사용
* by tjhan 151015
*/
/*custom_popover*/
.custom_popover{
  background-color: rgba(0,0,0,0) !important;
  box-shadow: none;
  border: none;
  height: 205px;  /*65px 3줄 + 10px margin값*/
  left: initial !important;
  right: 6px !important;
}
.custom_popover .item, .custom_popover .item-content{
  height: 65px;
  background-color: rgba(0,0,0,0) !important;
  border: none;
  color: #ddd;
}

/*IOS에서만 적용됨 (아래쪽 화살표)*/
.custom_popover .popover-arrow{
  visibility: hidden;
}

/*Android에서만 적용됨 (popOver의 margin값)*/
.platform-android .popover.popover-bottom{
  margin-top: -10px; /*marker type popover의 margin 32px를 덮어씀*/
  box-shadow: none;
}

/*popover시에 나오는 radio버튼 3가지*/
.custom_popover .popover_select_g{
  background: url('../img/sel_location_g.png');
  width: 55px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.custom_popover .popover_select_y{
  background: url('../img/sel_location_y.png');
  width: 55px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.custom_popover .popover_select_r{
  background: url('../img/sel_location_r.png');
  width: 55px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*popover시에 나오는 radio버튼 미 선택*/
.custom_popover .item-radio .radio-icon{
  opacity: 0.2;
  visibility: inherit;
}
/*popover시에 나오는 radio버튼 선택*/
.custom_popover  .item-radio input:checked ~ .item-content{
  color: #fff;
}
.custom_popover .item-radio input:checked ~ .radio-icon{
  opacity: 1;
}
/* custom_popover  끝 */



/*modal로 하지 않고 google infoWindow로 처리함*/
/*marker를 클릭했을 때 나오는 modal*/
/* .modal-backdrop{
  background-color: rgba(0,0,0,0.5);
}
@media screen and (max-width: 679px) {
  .modal{
    width : 80%;
    margin : 25% 0 0 10%;

    display: table;
    height: auto;
    min-height: initial;
    max-height: 80%;
    overflow: inherit;
  }
   .modal .scroll-content{
    display: table;
    background-color: #fff;
  }
 }
.marker-modal{
  
}
.marker-modal .header{
  margin-left : 10px;
}
.marker-modal .header .title{
  width: 90%;
  color: #222;
  font-weight: bold;
  margin-bottom: 0;
}
.marker-modal .header .button {
  color: #222;
  position: absolute;
  right: 0;
  top: 0;
}
.marker-modal .location-icon{
  width : 30px;
  height: 30px;
}
.marker-modal .location-text{
  position: relative;
  top: -8px;
  left: 0;
}
.marker-modal  .card-img{
  width : 100%;
  height: 100%;
}
.center-cropped{
  width: 100%;
  height: 300px;
  min-height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.marker-modal  .card-view{
  text-align: center;
  font-size: 130%;
  height: 40px;
  padding-top: 10px;
  color: #bbb;
} */
