#detail_page img {
	width: 100%;
}

#detail_page h1 {
	font-size: 18px;
	font-weight: 900;
	text-align: center;
}

#detail_page p {
	text-align: center;
}

#detail_page #map {
	display: none;
}

#detail_page hr {
	margin-bottom: 10px;
}

#detail_page .sns-link {
	width: 100%;
	margin-bottom: 10px;
}

#detail_page .sns-link a {
	width: 32.5%;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 14px;
}

#detail_page #comment_section {
	width: 100%;
	margin-bottom: 10px;
	z-index: 100;
}

#detail_page .comment-form {
	background-color: WhiteSmoke ;
	width: 100%;
	padding: 10px 0px 10px 0px;
	padding-bottom: 10px;
}

#detail_page .comment-form input {
	width: 94%;
	display: inline-block;
	margin: 0px 10px 0px 10px;
}

#detail_page .comment-list {
	margin-bottom: 15px;
}

#detail_page .comment-list p {
	display: block;
	text-align: left;
	margin-bottom: 0px;
}

#detail_page .comment-list .profile-image {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
}