#detail_page {
	padding: 0px 10px 0px 10px;
}

img.posting-image {
	width: 100%;
	margin-bottom : 5px;
}

#detail_page h1 {
	font-size: 18px;
	font-weight: 900;
	text-align: center;
}

#detail_page hr {
	margin: 0px;
}

#detail_page p {
	width : 100%;
	text-align: center;
	font-size: 15px;
}

#detail_page a {
	text-decoration: none;
}

#detail_page span.timeago {
	text-align: left;
	display: inline-block;
	color: darkgrey;
	margin-left: 10px;
	margin-bottom: 5px;
}

#detail_page p.description {
	margin-bottom: 25px;
}

#detail_page #post_location_name {
	margin: 5px 0px 15px 5px;
	text-align: left;
	color: darkgrey;
	font-size: 14px;
}

#detail_page #post_location_name i {
	color: #ea5c50;
}

#detail_page #map {
	display: none;
}

#detail_page .progressText {
	color: #8f8f8f;
	font-weight: 500;
	font-size: 13px;
}

#detail_page .progressText i {
	color: #efae28;
}

#detail_page .additional-function {
	color: #a0a0a0;
	float: right;
	font-size: 15px;
	display: inline-block;
	margin-right: 10px;
}

#detail_page .additional-function i {
	margin-left: 10px;
}

#detail_page hr {
	margin-bottom: 10px;
}

#detail_page .sns-link {
	width: 100%;
	height: 33px;
}

#detail_page .sns-link a {
	width: 32%;
	display: inline-block;
	padding: 2px 0px 2px 0px;
	text-align: center;
	text-decoration: none;
	color: #a0a0a0;
	font-size: 14px;
}

#detail_page .sns-link .non-active {
	color: #a0a0a0;
}

#detail_page .sns-link .active {
	color: #e85d54;
	font-weight: bolder;
}

#detail_page .change-member {
	margin-top: 10px;
	padding: 10px 0px 0px 0px;
	height: 85px;
}

#detail_page .change-member.active {
	height: 140px;
}

#detail_page .change-member .change-description {
	width: 100%;
	float: left;
}

#detail_page .change-member .member-list img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 2px solid #FF4719;
	display: inline-block !important;
	/*margin-left: 10px;*/
	margin-bottom: 10px;
	float: left;
}

#detail_page .change-member .member-list img.status-66 {
	border: 2px solid #efae28;
}

#detail_page .change-member .member-list img.status-100 {
	border: 2px solid #6fba2c;
}

.progress {
	border-radius: 50px;
}

#detail_page .change-member .change-button {
	background-color: #ea5c50;
	border-radius: 50px;
	color: white;
  width: 90%;
  height: 40px;
  border: none;
  font-size: 20px;
  font-weight: bold;
	display: block;
	padding: 3px 30px 3px 30px;
	margin: 0 auto;
}

#detail_page .change-member .change-button.status-66 {
	background-color: #efae28;
}

#detail_page .change-member .change-button.status-100 {
	background-color: #6fba2c;
}

#detail_page .change-member .change-button i {
	font-weight: 900;
}

#detail_page .change-member p {
	font-size: 12px;
	color: #695B4D;
	margin-top: 10px;
}

#detail_page #comment_section {
	width: 100%;
	margin-bottom: 20px;
	z-index: 100;
	float: left;
}

#detail_page .comment-form {
	background-color: whiteSmoke;
	width: 100%;
	padding: 10px 0px 10px 0px;
	padding-bottom: 10px;
}

#detail_page .comment-form input {
	width: 71%;
	display: inline-block;
	margin: 0px 10px 0px 10px;
}

#detail_page .comment-form button {
	display: inline-block;
	float: right;
	margin-right: 8px;
}

#detail_page .comment-list {
	margin-top: 15px;
	margin-bottom: 15px;
}

#detail_page .comment-list .profile-image {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
	border-radius: 50px;
}

#detail_page .comment-list .description {
	margin-left: 50px;
}

#detail_page .comment-list p {
	display: block;
	text-align: left;
	margin-bottom: 0px;
}

#detail_page .comment-list small {
	color: grey;
}

#detail_page .comment-delete{
	float: right;
	margin-right : 10px;
	position: relative;
}

#detail_page .comment-delete i {
	font-size: 150%;
	color: black;
}

#popup_page .changeMakerImage {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

#popup_page p {
	color: darkslategrey;
	margin-bottom: 25px;
}

#popup_page .name {
	font-size: 20px;
}
