#profile_page {
	padding: 20px 10px 30px 10px;
}

#profile_page .profile-form a {
	color: black;
}

#profile_page .profile-form img {
	width: 100px;
	height: 100px;
	margin-right: 20px;
	border-radius: 50px;
	margin: 0 auto;
	display: block;
}

#profile_page .profile-form .username {
	margin-top: 4px;
}

#profile_page .profile-form .username label {
	font-size: 20px;
	text-align: center;
	display: block;
}

#profile_page .my-card-list {
	border-radius: 10px;
	margin-top: 10px;
	box-shadow: 1px 2px 8px 1px #888888;
}

#profile_page .my-card-list .title p {
	text-align: center;
	font-weight: 900;
}

#profile_page .profile-form .form-group .progress {
	margin-top: 10px;
	margin-bottom: 10px;
}

#profile_page .progress-button {
	text-align: center;
}

#profile_page p.progressText {
	text-align: center;
	margin-bottom: 20px;
	font-size: 12px;
}

button.logout {
	margin-left: 10px;
}

#profile_page .jumbotron {
	padding: 0px 20px 40px 20px;
	border-top: 1px solid grey;
}

#profile_page .jumbotron .row {
	margin: 0px;
}

#profile_page .jumbotron .row a {
	text-align: center;
	text-decoration: none;
	color: #666666;
}

#profile_page .jumbotron .row a.active {
	border-bottom: 4px solid #666666;
	margin-bottom: 10px;
}

#profile_page .jumbotron .info-1.non-active, .info-2.non-active{
	left: 100%;
	position: absolute;
}

#profile_page .jumbotron.non-login {
	border: none;
	border-radius: 10px;
  height: 120px;
  text-align: center;
}

#profile_page .jumbotron.non-login img {
	width: 90px;
	height: 90px;
	margin-top: 15px;
	margin-left: 10px;
	float: left;
}

#profile_page .jumbotron.non-login p {
	font-size: 15px;
	padding-top: 25px;
}

i.ion-chevron-right {
	float: right;
	color: grey;
}

.terms, .gps, .privacy {
	padding: 15px;
}

.terms .redEmphasis, .gps .redEmphasis, .privacy .redEmphasis {
	color: red;
}

.terms .term, .gps .term, .privacy .term, ul {
	margin-bottom: 40px;
}

.terms h2, .gps h2, .privacy h2 {
	font-size: 18px;
	font-weight: bold;
}

.terms h3, .terms h4, .terms h5, .gps h3, .gps h4, .gps h5, .privacy h3, .privacy h4, .privacy h5 {
	font-size: 15px;
	color: grey;
}

.terms h4, .gps h4, .privacy h4 {
	margin-left: 20px;
} 

.privacy h5 {
	margin-left: 40px;
}