.profile.pane {
	background-color: #eead39;
}

#profile_page {
	background-color: #f0f0ee;
	height: 100%;
}

#profile_page .user.active {
	left: 0;
}

#profile_page .user.non-active {
	left: 200%;
	position: absolute;
}

#profile_page .profile-form {
	background-color: #eead39;
	padding-top: 20px;
}

#profile_page .profile-form a {
	color: black;
}

#profile_page .profile-form img {
	width: 80px;
	height: 80px;
	border-radius: 50px;
	margin: 0 auto;
	display: block;
}

#profile_page .profile-form .username {
	margin-top: 4px;
	padding-bottom: 15px;
	margin-bottom: 0px;
}

#profile_page .profile-form .username label {
	font-size: 20px;
	text-align: center;
	display: block;
}

#profile_page .profile-form .profile-setting-icon{
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: -webkit-inline-box;
	vertical-align : sub;
	background-image: url('../img/setting.png');
	margin-left: 10px;
}

#profile_page .my-change-list {
	width: 100%;
	display: inline-block;
	border-width: 0px;
}

#profile_page .title, #profile_page .my-card-list .title p {
	font-size: 18px;
	text-align: center;
	color: black;
	margin-top: 20px;
}

#profile_page .my-change-list a.change-list {
	width: 50%;
	height: 35px;
	color: #828282;
	margin: 0px;
	font-size: 13px;
	padding: 8px 0px 0px 0px;
	border: none;
}

#profile_page .change-list-button {
	width: 100%;
	border: 1px solid #e0e0e0;
	border-left: none;
	border-bottom: none;
}

#profile_page .change-list-button a.change-list.right {
	border-left: 1px solid #e0e0e0;
}

#profile_page .my-change-list a.watch-list {
	width: 50%;
	height: 35px;
	color: #828282;
	margin: 0px;
	font-size: 13px;
	padding: 8px 0px 0px 0px;
	border: none;
}

#profile_page .watch-list-button {
	width: 100%;
	border: 1px solid #e0e0e0;
	border-left: none;
	border-bottom: none;
}

#profile_page .watch-list-button a.watch-list.right {
	border-left: 1px solid #e0e0e0;
}
#profile_page .watch-list-button a.watch-list.active {
	color: #e85d54;
	font-weight: bolder;
	background: none;
	box-shadow: none;
}


#profile_page .my-change-list, .my-card-list {
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: 0px 1px 2px 1px #b7b6b6;
	padding: 0;
	border: none;
}

#profile_page .profile-form .form-group .progress {
	margin-top: 10px;
	margin-bottom: 10px;
}

#profile_page .progress-button {
	text-align: center;
	border-top: 1px solid #e0e0e0;
	height: 35px;
}

#profile_page .progress-button a {
	color: #a0a0a0;
	text-decoration: none;
	text-align: center;
	width: 32%;
	display: inline-block;
	padding-top: 5px;
}

#profile_page p.progressText {
	text-align: center;
	margin-bottom: 20px;
	font-size: 12px;
}

#profile_page .progressText i {
	color: #efae28;
	font-size: 13px;
	font-weight: bolder;
}

button.logout {
	margin-left: 10px;
}

#profile_page .row {
	padding: 0;
	margin: 0;
}

#profile_page a.menu-tab {
	background-color: #f0f0ee;
	width: 49%;
	height: 50px;
	text-align: center;
	padding-top: 15px;
	text-decoration: none;
	font-weight: 700;
}

#profile_page a.menu-tab.non-active {
	background-color: white;
	color: #858484;
	font-weight: 400;
}

#profile_page .left-tab {
	border-top-right-radius: 5px;
}
#profile_page .center-tab {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0 1%;
}
#profile_page .right-tab {
	border-top-left-radius: 5px;
}

#profile_page .login {
	width: 100%;
  height: auto;
  position: absolute;
  margin-bottom: 0;
  margin-left: 0px;
	padding: 0px 2% 20px 2%;
	background-color: #f0f0ee;
}

#profile_page .login .row a.active {
	border-bottom: 4px solid #666666;
	margin-bottom: 10px;
	display: block;
}

#profile_page .card-info.non-active, .change-info.non-active, .watch-info.non-active{
	display: none;
}

#profile_page .non-login {
	border: none;
	border-radius: 10px;
  height: 120px;
  text-align: center;
}

#profile_page .non-login p {
	font-size: 15px;
	padding-top: 25px;
}


i.ion-chevron-right {
	float: right;
	color: grey;
}

.terms, .gps, .privacy {
	padding: 15px;
}

.terms .redEmphasis, .gps .redEmphasis, .privacy .redEmphasis {
	color: red;
}

.terms .term, .gps .term, .privacy .term, ul {
	margin-bottom: 40px;
}

.terms h2, .gps h2, .privacy h2 {
	font-size: 18px;
	font-weight: bold;
}

.terms h3, .terms h4, .terms h5, .gps h3, .gps h4, .gps h5, .privacy h3, .privacy h4, .privacy h5 {
	font-size: 15px;
	color: grey;
}

.terms h4, .gps h4, .privacy h4 {
	margin-left: 20px;
}

.privacy h5 {
	margin-left: 40px;
}

.edit-name {
	background-color: #f0f0ee;
	height: 100%;
}

.edit-name p {
	padding: 15px 15px 5px 15px;
}

.about-us .about-us-top-img{
	width: 100%;
	background-color: #F0F0EE;
}
.about-us .about-us-top-img img{
	width: 60%;
	margin: 10% 20%;
}

.about-us .about-us-text{
	margin: 20px 10px;
}
.about-us .about-us-text p{
	margin : 0 0 3px 0;
}
.about-us .about-us-text .part_end{
	margin-bottom:15px;
}
.about-us .about-us-link{
	margin: 30px 10px;
}
.about-us-link .home-link i{
	color: #EFAE28;
	font-size: 20px;
	margin: 0 3px 0 0;
}
.about-us-link .fb-link i{
	color: #3B5998;
	font-size: 20px;
	margin: 0 8px 0 4px;
}

.empty-text{
	text-align: center;
	padding-top : 25px;
}
