.welcome_page {
	background-color: #f0f0ee;
	height: 100%;
	width: 100%;
}

.welcome_page figure.login {
	background: url("../img/loginpage.png") no-repeat;
	margin:0 auto;
	width: 85%;
	height: 100%;
	background-size: contain;
}

.welcome_page a.fb-btn {
	background: url("../img/fb-btn.png") no-repeat;
	background-size: contain;
	width: 70%;
	height: 8%;
	position: absolute;
	top: 64%;
	left: 15%;
}

.welcome_page a.skip-btn {
	background: url("../img/skip-btn.png") no-repeat;
	background-size: contain;
	width: 70%;
	height: 8%;
	position: absolute;
	top: 55%;
	left: 15%;
}
.welcome_page .terms{
	width: 90%;
	height: 8%;
	position: absolute;
	top: 73%;
	left: 5%;
	text-align: center;
}
.welcome_page .terms a{
	color : #222;
	padding : 0 10px;
}
.welcome_page .terms-info{
	width: 90%;
	height: 8%;
	position: absolute;
	top: 78%;
	left: 5%;
	text-align: center;
	font-size : 80%;
}

.welcome_page .terms-middle{
	border-right: 1px solid #888;
	border-left: 1px solid #888;
}

@media only screen  and (min-width : 768px) {
	.welcome_page figure.login {
		width: 640px;
		height: 1036px;
	}

	.welcome_page a.fb-btn {
		width: 547px;
		height: 90px;
		top: 65%;
	}

	.welcome_page a.skip-btn {
		width: 547px;
		height: 90px;
		top: 76%;
	}
}

@media only screen  and (min-width : 1200px) {
	.welcome_page a.fb-btn {
		width: 547px;
		height: 90px;
		top: 72%;
		left: 30%;
	}

	.welcome_page a.skip-btn {
		width: 547px;
		height: 90px;
		top: 85%;
		left: 30%;
	}
}