.welcome_page.jumbotron {
	padding: 60px 20px 0px 20px;
	height: 100%;
}

.welcome_page {
	text-align: center;
}

.welcome_page p {
	font-size: 17px;
	margin: 30px 0px 30px 0px;
}

.fb-login{
	margin-top: 50px !important;
	background-color : #425F9C !important;
	border-color : #425F9C !important;
}