#picture_list {
  margin : 5px;
  width: 100%;
}

#card_img{
  width : 100%;
  height: 100%;
}

#change_pic{
  width: 100px;
  height: 100px;
  border: 1px solid #aaa;
  /*display: block;*/
}

/*.error-container {
  margin: 5px 0;
}
 */
/*.error-container:last-child {
    margin: 5px 0 0;
}*/
 
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}
 
.error i {
  font-size: 24px;
  color: #E0624D;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors{
  border-bottom: 3px solid #ea5c50;
}
 
/*.no-errors {
  border-bottom: 3px solid #65B614;
}*/

label.item.has-errors-img img{  
  border: 2px solid #ea5c50;
}

label.item.has-errors-img #picture_list{  
  border: 2px solid #ea5c50;
}

/*label.item.no-errors-img img{  
  border: 2px solid #65B614;
}
*/
.popup-body{
  text-align: center;
}

#wrtie_page i {
  color: #ea5c50;
}

#wrtie_page i.img-change {
  font-size: 40px;
  position: absolute;
}

#wrtie_page a.change-link {
  width: 40px;
  height: 50px;
  position: absolute;
  right: 25px;
  z-index: 100;
}

#wrtie_page .item-input{
  padding : 6px;
}